html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#splash {
	z-index: 1;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}

.splash-img {
	max-height: 40vh;
	width: 40vw;
	-webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
}

@-webkit-keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}
  
@keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	50% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}
  

.login-form-container {
	max-width: 400px;
	margin-top: 20px;
	text-align: center;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

h1 {
	margin-top: 0;
	font-size: 3rem;
	color: #283035;
	letter-spacing: 5px;
}

.logo {
	height: 4rem;
}

h2 {
	font-size: 2rem;
	color: #283035;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	align-self: flex-start;
	font-size: 1.2rem;
	color: #283035;
	margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
	font-size: 1rem;
	padding: 10px;
	border: none;
	background-color: #f7f7f7;
	border-radius: 5px;
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #283035;
	color: #fff;
	font-size: 1.2rem;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #256ea2;
}

p {
	font-size: 1.1rem;
	color: #666;
	margin-top: 20px;
}

a {
	color: #283035;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.radio-group {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
  
.radio-group label {
	margin-right: 20px;
	cursor: pointer;
}

.radio-group input[type="radio"] {
	display: none;
}

.radio-option {
	transform: scale(0.8);
	transition: transform .5s;
	opacity: 0.5;
	padding: 15px;
	border-radius: 5px;
}

.radio-option:hover {
	transform: scale(1);
}

.radio-img {
	height: 80%;
	width: 80%;
}

.radio-group input[type="radio"]:checked + .radio-option {
	transform: scale(1);
	opacity: 1;
}