* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #283035;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* MAIN */
main {
    padding: 32px 16px;
    max-width: 1200px;
    margin: 80px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

main h3 {
    font-size: 24px;
}

section {
    /* background-color: #2b4abd; */
    padding: 24px;
    margin: 0.5rem;
    border: solid 2px #283035;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

ul {
    list-style: none;
}

section h3 {
    font-size: 20px;
}

section p {
    font-size: 16px;
    margin-bottom: 16px;
}

/* MY PROGRESS */
#my-progress {
    max-width: 60%;
}

#my-progress ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#my-progress li {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    background-color: #fff;
    transition: transform 0.2s ease;
    justify-content: center;
    align-items: center;
}

#my-progress li:hover {
    transform: translateY(-5px);
}

#my-progress h3 {
    margin-top: 10px;
}

/* STOLEN PROGRESS CIRCLE */
div[role="progressbar"] {
    --size: 12rem;
    --fg: #42c6eb;
    --bg: #ddd;
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
        ;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

/* MY TODOS */
#my-todos {
    width: 35%;
}

#my-todos a {
    text-decoration: none;
    color: #283035;
}

#my-todos ul li {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

#my-todos ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open-img {
    height: 100%;
    float: right;
}

/* MY ACHIEVEMENTS */
#my-achievements {
    width: 100%;
}

#my-achievements ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#my-achievements li {
    flex: 1;
    max-width: 20%;
    color: #283035;
    padding: 0.1rem;
    margin: 1rem;
    text-align: center;
    transition: transform 0.2s ease;
}

#my-achievements li:hover {
    transform: translateY(-5px);
}

.badge-img {
    margin-bottom: 10px;
    max-height: 200px;
    width: 100%;
    object-fit: contain;
}